asyncpg==0.30.0
fastapi==0.115.12
ocpp==2.0.0
pydantic==2.11.5
python-dotenv==1.1.0
Requests==2.32.4
tortoise==0.1.1
uvicorn==0.34.3
watchdog==6.0.0
websocket_client==1.8.0
pytest==8.4.0
tortoise-orm==0.25.1
fastapi==0.115.12

